* {
box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0px;
 
}
body{
  background-color: #F4F6FF;

}
#root{
  background-color: #F4F6FF;
  position: relative;
  min-height: 100vh;
  height: 100%;
  padding-bottom: 100px;
}
h1{
  color: #0A81AB;
  font-size: 40px;
}
h2{
  color: #0A81AB;
  width: 500;
}
h3{
  color: #0A81AB;
}
h4{
  color: #0A81AB;
}
p{
  font-size: 18px;
  color: #292a2a;
}

.container{
  margin: 0 auto;
  width: 100%;
  max-width: 1152px;
}


/* @media (min-width: 576px){
  .container{
    max-width: 540px;
  
  }
} 

@media (min-width: 768px){
  .container{
    max-width: 720px;
  }
} 


@media (min-width: 992px){
  .container{
    max-width: 960px;
  }
} 


@media (min-width: 1200px){
  .container{
    max-width: 1152px;
  }
}  */



.navbar{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  background-color: #F4F6FF;
  box-shadow: 0 0px 15px 0px #0000002b;
  margin-bottom: 60px;

}

.logo{
  font-weight: 700;
  font-size: 25px;
  text-decoration: none;
}

.nav{
  padding: 15px 0 0px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.link {
  color:#0A81AB;
  font-weight: 500;
  margin-left: 20px;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 15px;
}
.link:hover{
  color: #FFC7C7;
}
.hero-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  height: calc(100vh - 255px);
}

.home{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.heroImg{
  width: 60%;
}
.heroText{
  width: 40%;
}
.heroText h1{
  font-size: 50px;
  margin-bottom: 15px;
}
.heroText h3{
  font-size: 30px;
  margin-bottom: 25px;
}

.heroImg img{
  width: 100%;
}

.btn{
  padding: 15px 25px;
  margin-top: 15px;
  border-radius: 50px;
  color: #F4F6FF;
  border-color: #0A81AB;
  font-weight: 500;
  font-size: 18px;
  background-color: #0A81AB;
  text-decoration: none;
  border: solid;
  cursor: pointer;
}
.btn:hover{
  background-color: #FFC7C7;
}

.skillsec{
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
text-align: center;
justify-content: center;
position: relative;
margin: 0px 0px;

}

.skillset{
display: grid;
grid-template-columns: auto auto auto auto;
justify-content: center;
grid-auto-rows: max-content;

}

.skill{
  padding: 20px;
  margin: 15px;
  position: relative;
  width: 200px;
  height: 200px;

}
.contactform{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px 50px;
  width: 100%;
  height: 100%;
}
#h2-main{
  font-size: 25px;
}

.form{
  padding: 50px 20px;
  max-width: 550px;
  width: 100%;
}

.info{
  padding: 50px 20px;
  max-width: 400px;
  width: 100%;
}

input, textarea{
  padding: 12px 20px;
  width: 100%;
  border-radius: 15px;
  border-color: #0A81AB;
  border: 1px solid #0A81AB;
}


tr td:first-child{
  padding-right: 20px;
  font-weight: 500;
  font-size: 18px;
  color: #0A81AB;
}
tr td{
  padding-top: 20px;
  text-align: left;
}

.cardContainer{
  display: flex;
  justify-content: space-around;
  padding: 20px;
  flex-wrap: wrap;
  align-items: center;
}

.card{
  position: relative;
  height: 400px;
  width: 320px;
  margin-bottom: 20px;
}

.card img{
  height: 400px;
  width: 320px;
  
}

.card .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:#ffc7c7b6;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.4s ease;
}

.card:hover .overlay{
opacity: 1;
}

.card .overlay a{
  text-decoration: none;
  color: #0A81AB;

}

.aboutme{
  width: 70%;
  margin: 20px auto 0 auto;
  padding-bottom: 40px;
}

.aboutme h1{
  font-size: 50px;
  margin-top: 20px;
  font-weight: 500;
}
.aboutme h2{
  margin-top: 20px;
  font-weight: 500;
  padding: 0 80px;
}

.aboutme img{
  width: 250px;
  height: 250px;
  border-radius: 100%;
}
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: #0A81AB;
  position: absolute;
  bottom: 0;
}
.footer h5{
  font-size: 15px;
  font-weight: 100;
  color: #F4F6FF;
}

@media(max-width:767px){
.container{
  padding:0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.navbar{
  flex-direction: column;
  padding-top: 15px;
}
.home{
  flex-direction: column;
}
.heroImg{
  width: 100%;
  
}
.heroText{
  width: 100%;
  margin-bottom: 80px;
}
.heroText h1{
  font-size: 40px;
}
.heroText h3{
  font-size: 25px;
}
.hero-wrapper{
  align-items: flex-start;
}
.skillset{
  grid-template-columns: 1fr 1fr;
  padding: 0 5px;
  justify-content: space-around;
  align-items: center;
}
.skillsec{
  width: 300px;
}
.skill{
  width: 80%;
}
#h1-main{
  font-weight: 600;
  font-size: 35px;
}
#h2-main{
  font-size: 25px;
  font-weight: 500;
}
.cardContainer{
  height: 100%;
  grid-template-columns: 1fr;
  grid-gap: 30px;
}
.card{
  width:250px;
  height: 300px;
}
.card img{
  width:250px;
  height: 300px; 
}
.contactform{
  padding: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form{
  padding: 0;
  margin:20px 0;
}
.info{
  padding: 20px 0;
  width: 100%;
  margin: 10px;
}
.table{
  font-size: 17px;
}
tr td:first-child{
  font-size: 18px;
}
.aboutme{
  width: 100%;
  margin: 30px 0;
}
.aboutme h1{
  font-size: 40px;
}
.aboutme h2{
  margin-top: 15px;
  font-weight: 400;
  padding: 0;
  font-size: 25px;
}

}